/*主体内容*/
.serviceContent{
	width:100%;
	height:590px;
}
.header-table{
	width:1000px;
	height:42px;
	margin:10px auto 0px;
	border:1px solid #ddd;
	font-size:14px;
	border-collapse:collapse;
	
}
.tableContent{
	width:920px;
	height:442px;
	padding:0px 40px;
	margin:0 auto;
	padding-top:40px;
	position:relative;
}
.tableContent .position{
	width:420px;
	height: 444px;
	position:absolute;
	right:10px;
	top:100px;
	display:none;
	background:url("../img/service-img/dialog.png");
}
/*header-table*/
.header-table tr td{
	width:25%;
	text-align:center;
	background-color:#eee;	
	
}
.header-table td a{
	width:100%;
	height:42px;
	line-height:42px;	
	color:#000;
	border-left:1px solid #ddd;
}
.header-table .current{
	background-color:#3399ff;
	color:#fff;
}
.header-table td:hover{
	background-color:#3399ff;
	border-color:#80dbff;
}
.header-table td:hover a{
	color:#fff;
}
/*tableContent*/
.tableContent form{
	width:100%;
	height:442px;

}
.tableContent form table tr td{
	font-size:13px;
	height:25px;
	color:#666;
}
.tableContent form table tr td input{
	margin-bottom:5px;
}
.tableContent form table tr td span{
	color:silver;
}
.tableContent form table .check td{
	color:#888;
	font-size:12px;
}
.tableContent form table .back td{
	vertical-align:top;
}
.tableContent form table .back td textarea{
	color:#ccc;
	padding-top:5px;
	outline:none;
}
.tableContent form table .user td input{
	width:132px;
	height:24px;
	border:1px solid #666;
	line-height:24px;
	padding-left:10px;
	font-size:12px;
}
.tableContent form table .upload td{
	position:relative;
}
.tableContent form table .upload td input{
	position:absolute;
	width:0px;
	height:0px;
	top:0px;
	left:0px;
	opacity:0;

}
.tableContent form table .upload td input{

}
textarea{
	border-color:#666;
}
.tableContent form table tr td:first-child{
	font-size:13px;
	font-weight: 700;
}
.tableContent form table tr td a{
	width:81px;
	height:29px;
	border:1px solid #666;
	color:#777;
	text-align:center;
	line-height:29px;
	margin-right:20px;
}
.tableContent form table tr td a:hover{
	border-color:#80dbff;
}
.tableContent form table tr td .current{
	background:#e6f8ff;
	border-color:#80dbff;
	font-weight:600;
}